footer{
    .footerParrafo{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }
    .icon{
        color: rgb(10, 168, 134);
        font-size: 4rem;
        padding-left: 20px;
    }
}