footer{
    .footerParrafo{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }
    .icon{
        color: rgb(10, 168, 134);
        font-size: 3rem;
    }
    .footerPropio{
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 1%;
    }
}