.bodyPropio{
    font-family: 'Nunito Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@import "header";
@import "footer";
@import "especialidades";
@import "index";
@import "nosotros";
@import "turnos";
@import "contacto";
@import "iniciarsesion";
@import "registrarse";